.primary-btn button {
  font-size: 18px;
  font-weight: 500;
  color: #d88531;
  color: #fff;
  background-color: #d88531;
  border: 1px solid #d88531;
  display: inline-block;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  padding: 10px 30px;
  z-index: 1;
}
.primary-btn button:hover {
  color: #000;
  border-color: transparent;
}
.primary-btn button::after {
  transition: all 0.5s ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  /* background-color: #d88531; */
  background-color: #fff;
  z-index: -1;
}
.primary-btn button:hover::after {
  transition: all 0.5s ease;
  left: 0;
  right: 0;
  opacity: 1;
}

/* Extra Large / Desktop device */
@media (min-width: 1200px) and (max-width: 1399px) {
}
/* Large device */
@media (min-width: 992px) and (max-width: 1199px) {
  .primary-btn button {
    font-size: 17px;
    padding: 8px 25px;
  }
}
/* MD device */
@media (min-width: 768px) and (max-width: 991px) {
  .primary-btn button {
    font-size: 16px;
    padding: 8px 25px;
  }
}
/* SM devices */
@media (min-width: 576px) and (max-width: 767px) {
  .primary-btn button {
    font-size: 16px;
    padding: 8px 25px;
  }
}
/* Mobile device */
@media (max-width: 575px) {
  .primary-btn button {
    font-size: 16px;
    padding: 8px 20px;
  }
}
