.justify-content-center.navbar-nav a.active {
  color: #ffb500;
}
.header-area {
  background: transparent;
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
}
.navbar-nav a {
  color: #000;
  padding: 0 10px;
  position: relative;
  display: inline-block;
  transition: 0.3s;
  letter-spacing: 2px;
  text-decoration: none;
  font-weight: 600;
}
.navbar-nav a:hover {
  color: #d88531;
}
.navbar-toggler.collapsed {
  background-color: #fff;
}
.navbar-toggler {
  background: #fff;
}

/* Extra Large / Desktop device */
@media (min-width: 1200px) and (max-width: 1399px) {
}
/* Large device */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* MD device */
@media (min-width: 768px) and (max-width: 991px) {
  .header-area img {
    height: 35px;
  }
}
/* SM devices */
@media (min-width: 576px) and (max-width: 767px) {
  .header-area img {
    height: 30px;
  }
}
/* Mobile device */
@media (max-width: 575px) {
  .header-area img {
    height: 30px;
  }
}
