.social-icon {
  list-style: none;
}
.social-link ul {
  padding: 0;
  display: flex;
}
.social-icon li {
  margin-right: 15px;
}
.social-icon li:hover a {
  transition: 0.3s;
}
.social-icon li a {
  color: #fff;
}
.social-link ul li:hover {
  /* transform: rotate(360deg); */
  transition: 0.3s;
}

/* Extra Large / Desktop device */
@media (min-width: 1200px) and (max-width: 1399px) {
}
/* Large device */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* MD device */
@media (min-width: 768px) and (max-width: 991px) {
  .social-link ul {
    justify-content: center;
  }
}
/* SM devices */
@media (min-width: 576px) and (max-width: 767px) {
  .social-link ul {
    justify-content: center;
  }
}
/* Mobile device */
@media (max-width: 575px) {
  .social-link ul {
    justify-content: center;
  }
}
