.banner-area {
  padding: 60px 0 0 0;
  background-color: #f8fafc;
}
.banner-area .container {
  display: flex;
  align-content: center;
  align-items: center;
}
.banner-title {
  color: #000;
  font-size: 48px;
  line-height: 1.3;
  font-weight: 700;
}
.banner-title span {
  color: #d88531;
  display: block;
}
.banner-subtitle {
  font-size: 22px;
  font-weight: 600;
  margin: 15px 0;
}
.banner-img img {
  max-width: 700px;
}
.banner-btn {
  margin-top: 30px;
}

/* Extra Large / Desktop device */
@media (min-width: 1200px) and (max-width: 1399px) {
}
/* Large device */
@media (min-width: 992px) and (max-width: 1199px) {
  .banner-title {
    font-size: 42px;
  }
  .banner-title span {
    display: inline;
  }
  .banner-img img {
    max-width: 500px;
  }
}
/* MD device */
@media (min-width: 768px) and (max-width: 991px) {
  .banner-area {
    padding: 80px 0;
  }
  .banner-text {
    text-align: center;
  }
  .banner-title {
    font-size: 38px;
  }
  .banner-img {
    display: none;
  }
}
/* SM devices */
@media (min-width: 576px) and (max-width: 767px) {
  .banner-area {
    padding: 80px 0;
  }
  .banner-text {
    text-align: center;
  }
  .banner-title {
    font-size: 36px;
  }
  .banner-img {
    display: none;
  }
 
}
/* Mobile device */
@media (max-width: 575px) {
  .banner-area {
    padding: 80px 0;
  }
  .banner-text {
    text-align: center;
  }
  .banner-title {
    font-size: 32px;
  }
  .banner-subtitle {
    font-size: 20px;
  }
  .banner-img {
    display: none;
  }
  .primary-btn button {
    font-size: 16px;
    padding: 8px 20px;
  }
}
